header.container {
    background-color: black;
    color: white;
    height: 200px;
}
.chimereogo {
    text-align: right;
    height: 5px;
    text-decoration: underline 3px green;
    margin-bottom: 50px;
    margin-right: 20px;
}
h2 {
    text-align: left;
}
a {
    text-decoration: none;
    color: white;
    margin: 90px;
}
input{
    margin-left: 550px;
    top: 100%;
}
.ice{
    border: auto solid black;
font-size: xx-large;
color: green;
border: 1px solid black;
float: left;
margin-top: 70px;
margin-left: 100px;
}
img.picture{
    margin-right: 20px;
    margin-top: 1px;
    border: 1px solid green;
    border-radius: 1000px;
    background-color: green;
    z-index: 1;
}
p.call{
    text-decoration: none;
    font-size: xx-large;
    color: white;
    float: right;
    margin-top: 200px;
    border: 1px solid black;
    background-color: black;
    height: 40px;
}
.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.feature {
    width: 50px;
    height: 50px;
}
.time {
    font-weight: 600;
    margin: 20px;
}
.icon {
    color: gray;
    width: 50%;
    height: 100px;
}
.teacher {
    float: right;
    margin-top: 150px;
}
.my{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
}
.there {
    height: 30px;
    width: 30px;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 10px;
}
.id {
    font-size: large;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}
.ezugwu {
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-left: 500px;
}
.ezugwu:hover{
    background-color: white;
    color: black;
}
.parents {
    display: flex;
    flex-direction: row;
}
.image{
    width: 200px;
    height: 200px;
}
.grid {
    font-weight: 600;
    margin: 40px;
    width: 50%;
    height: 100px;
}
.game {
    font-weight: 600;
    margin: 40px;
    width: 20%;
    height: 100px;
}
.water {
    background-color: black;
    color: white;
}
.jump {
    float: left;
    height: 400px;
    width: 400px;
    margin-top: 0px;
    margin-left: 20px;
}
.land {
    float: right;
    height: 400px;
    width: 400px;
    margin-top: 0px;
    margin-right: 20px;
}
.fire {
    float: center;
    margin-left: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid white;
    margin-right: 450px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 450px;
}
.judge {
    font-size: 50px;
}
.tired {
    padding: 10px;
}
.might {
    font-size: 50px;
}